---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import presentation from "../assets/presentation.png";
import Title from "../components/Title.astro";
import Menu from "../components/Menu.jsx";
import Displayer from "../components/Displayer.jsx";
---

<Layout title="Portfolio">
	<main
		class="grid grid-cols-2 grid-rows-auto gap-y-8 gap-x-4 p-4 font-sans select-none"
	>
		<span
			class="flex h-80 w-auto justify-center items-start overflow-hidden"
		>
			<Image src={presentation} alt="presentation-gif" loading="eager" />
		</span>
		<span class="flex flex-col justify-evenly gap-y-10 items-start">
			<Title />
			<Menu client:load />
		</span>
		<Displayer client:load />
	</main>
</Layout>
