---
import { technologies } from "../data/technologies.js";
const baseUrl = import.meta.env.BASE_URL;
---

<span
    class="flex gap-10 flex-wrap w-full text-white font-sans justify-center items-center p-4"
>
    <img src={`${baseUrl}/public/assets/reactjs.webp`} alt="" />
</span>
