<span class="grid grid-rows-2">
    <h1
        class="self-end text-white sm:text-6xl text-2xl transition-all ease-in-out duration-300"
    >
        Hola, soy
    </h1>

    <h1
        class="[text-shadow:_0px_0px_15px_#00BCD4] text-primary font-bold sm:text-8xl text-4xl"
    >
        Joaquin
    </h1>
</span>
