---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="/JoaquinOrdonez-Portfolio/favicon.svg"
		/>
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=chevron_right"
		/>
		<title>{title}</title>
	</head>
	<body class="bg-primary-background backdrop-blur-lg">
		<slot />
		<button
			id="back-to-top"
			class="hidden fixed bottom-4 right-4 p-2 bg-primary text-white rounded-full"
			style="position: fixed;"
		>
			↑
		</button>
	</body>
</html>
<script>
	const backToTopButton = document.getElementById("back-to-top");

	window.addEventListener("scroll", () => {
		if (window.scrollY > 300) {
			backToTopButton.classList.remove("hidden");
		} else {
			backToTopButton.classList.add("hidden");
		}
	});

	backToTopButton.addEventListener("click", () => {
		window.scrollTo({ top: 0, behavior: "smooth" });
	});
</script>
